.about {
  padding-top: 20px;
}
.about .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}
.about__card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #fff1de;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.5s;
}
.about__card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.about__card:nth-of-type(5) {
  text-align: left;
}
.about__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.about__content {
  font-size: 16px;
}
.about__contact {
  padding-left: 0;
  list-style: none;
}
.about__details {
  padding-left: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .about .container-article {
    width: 80%;
  }
  .about__card {
    width: 45%;
  }
  .about__card:first-child {
    width: 95%;
  }
}
.acquired .container-article {
  width: 90%;
}
.acquired__card {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #fff1de;
  box-sizing: border-box;
  transition: all 0.5s;
}
.acquired__card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.acquired__title {
  text-align: center;
}
.acquired__card--video {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #fff;
}
.acquired__card--video:hover {
  box-shadow: none;
  transition: none;
}
@media (min-width: 768px) {
  .acquired .container-article {
    width: 75%;
  }
  .acquired__card--video {
    width: 90%;
  }
}
.advantages {
  padding-top: 20px;
  padding-bottom: 20px;
}
.advantages .container-article {
  width: 85%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f5fdf1;
}
.nav-tabs {
  border-color: #1eb1fc;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: #1eb1fc;
  border-bottom-color: transparent;
  color: #1eb1fc;
}
.nav-tabs > li > a {
  color: #666;
}
.nav-tabs > li > a:hover {
  color: #0398e4;
  border-color: transparent;
  background-color: transparent;
}
.nav-tabs > li > a:active {
  color: #1eb1fc;
}
.advantages .tab-content li {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .advantages .container-article {
    width: 70%;
  }
}
.advice {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #fceffc;
}
.advice__title {
  text-align: center;
}
.advice__content {
  color: #999;
  font-size: 18px;
  text-align: center;
}
.advice__content--small {
  font-size: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .advice__title {
    font-size: 28px;
  }
  .advice__content {
    font-size: 20px;
  }
  .advice__content--small {
    font-size: 14px;
  }
  .advice .container-article--form {
    width: 50%;
    padding-bottom: 35px;
    background-color: transparent;
    border: 1px solid #1eb1fc;
    border-radius: 15px;
  }
  .advice .button-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.animation-fadeIn {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-pulse {
  animation: pulse 15s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.animation-rotation {
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate 0deg;
  }
  100% {
    transform: rotate 360deg;
  }
}
.hover:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Required */
.block-hidden {
  opacity: 0;
}
.block-visible {
  opacity: 1;
}
.block-shadows {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.fadein-post {
  /* post checker */
}
.answer-main .container-article {
  width: 90%;
}
.answer-main__title {
  text-align: center;
  margin-bottom: 20px;
}
.panel-default > .panel-heading {
  background-color: #f5fdf1;
}
.panel-title a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel-title a:focus {
  color: #1eb1fc;
  outline: none;
  text-decoration: none;
}
.panel-title a:active {
  color: #1eb1fc;
}
.panel-body {
  background-color: #fff1de;
}
.panel-body li {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .answer-main .container-article {
    width: 75%;
  }
}
.blog .container-article {
  width: 90%;
}
.blog-teaser {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blog-teaser__card {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #fff1de;
  box-sizing: border-box;
}
.blog-teaser__card:hover {
  transition: all 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.blog-teaser__action {
  display: block;
}
.blog-teaser__card:hover .blog-teaser__image {
  opacity: 0.9;
  transition: all 0.5s;
}
.blog-teaser__image {
  margin: 0 auto;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  transition: all 0.5s;
}
.blog-time-reading-wrapper {
  position: relative;
}
.blog-time__reading {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  padding-left: 20px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.blog-teaser__content-wrapper {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.blog-teaser__content {
  margin-top: 20px;
}
.blog-single .container-article {
  width: 90%;
}
.blog-single__card {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #fff1de;
  box-sizing: border-box;
}
.blog-single__card:hover {
  transition: all 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.blog-single__image-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-single__image {
  width: 45%;
}
.blog-single__image img {
  margin: 0 auto;
}
.blog-single__card blockquote {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  outline: 1px solid #1eb1fc;
  border-color: #1eb1fc;
  background-color: #f0f8ff;
  font-weight: bold;
  font-style: italic;
}
.blog-single__list li {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .blog .container-article {
    width: 80%;
  }
  .blog-teaser__card {
    width: 45%;
  }
  .blog-teaser__card--full {
    width: 95%;
  }
  .blog-single .container-article {
    width: 80%;
  }
}
/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
} */
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  line-height: 30px;
  overflow-x: hidden;
  font-size: 16px;
  /* font-family: "Roboto", Arial, sans-serif; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #606060;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
p,
li {
  color: #777777;
}
input {
  caret-color: #77cde3;
}
label {
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: #1eb1fc;
}
a:hover {
  color: #0398e4;
  text-decoration: none;
}
a:active {
  color: #50c2fd;
}
.active-nav {
  border-bottom: 1px solid #1eb1fc;
}
/* * {
  outline: 1px solid black;
}
 */
.button-wrapper {
  margin: 0 auto;
  text-align: center;
}
.btn--welcome-to-shop {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 200px;
  background-color: transparent;
  color: #1eb1fc;
  border-color: #1eb1fc;
  border-radius: 15px;
  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn--welcome-to-shop:hover {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
  transition: all 0.8s;
}
.btn--welcome-to-shop:focus {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--welcome-to-shop:active {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--welcome-to-shop:active:hover {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--form {
  margin-top: 15px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 200px;
  background-color: transparent;
  color: #1eb1fc;
  border-color: #1eb1fc;
  border-radius: 15px;
  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn--form:hover {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
  transition: all 0.8s;
}
.btn--form:focus {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--form:active {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--form:active:hover {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--buy {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 200px;
  background-color: transparent;
  color: #1eb1fc;
  border-color: #1eb1fc;
  border-radius: 15px;
  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn--buy:hover {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
  transition: all 0.8s;
}
.btn--buy:focus {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--buy:active {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--buy:active:hover {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.card-block .divider-main--card {
  margin: 0 auto;
  width: 70%;
}
.card-block__title {
  margin-bottom: 20px;
  text-align: center;
}
.card-block .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}
.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #fff1de;
}
.card:hover {
  transition: all 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card img {
  transition: all 1s;
}
.card:hover img {
  transform: scale(1.08);
  transition: all 1s;
}
.card__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card__content {
  margin-bottom: 20px;
  border-radius: 0 0 2px 2px;
  text-align: center;
}
.card__image {
  margin-top: 10px;
  margin-bottom: 20px;
}
.card__image img {
  display: block;
  margin-bottom: 20px;
  border-radius: 2px 2px 0 0;
  width: 100%;
}
.card__action {
  margin-bottom: 20px;
  text-align: center;
}
.card__action a {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 200px;
  background-color: transparent;
  color: #1eb1fc;
  border: 1px solid;
  border-color: #1eb1fc;
  border-radius: 15px;
  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card__action a:hover {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
  transition: all 0.8s;
}
.card__action a:focus {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.card__action a:active {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.card__action a:active:hover {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.card blockquote {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: 1px solid #1eb1fc;
  border-color: #1eb1fc;
  background-color: #f0f8ff;
  font-weight: bold;
}
@media (min-width: 900px) {
  .card-block .container-article {
    width: 85%;
  }
  .card {
    width: 30%;
  }
}
.certificate .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  width: 90%;
}
.certificate-card {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #fff1de;
  box-sizing: border-box;
  transition: all 0.5s;
}
.certificate-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.certificate__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 768px) {
  .certificate .container-article {
    width: 85%;
  }
}
.main-container {
  min-width: 320px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.container-article {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.content-navigation {
  padding: 15px;
  text-align: left;
}
.content-navigation__list {
  padding-left: 15px;
}
.content-navigation__list a {
  font-size: 16px;
  text-decoration: none;
}
.contract-offer .container-article {
  width: 90%;
}
.contract-offer__card {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #fff1de;
  box-sizing: border-box;
  transition: all 0.5s;
}
.contract-offer__card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.contract-offer__title {
  text-align: center;
}
.contract-offer__sub-title {
  font-size: 20px;
  text-align: left;
}
.contract-offer__list {
  list-style: none;
}
.contract-offer__list li {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contract-offer .container-article {
    width: 80%;
  }
}
.divider-main {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.divider-main--card {
  margin-bottom: 20px;
}
.divider-main--info {
  margin-top: 20px;
  margin-bottom: 20px;
}
.divider-main--about {
  margin-top: 20px;
}
.divider-main--blog-single {
  margin-bottom: 20px;
}
.feature .container-article {
  padding-bottom: 0;
}
.feature-item {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
}
.feature-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
.feature-item:last-child:after {
  display: none;
}
.feature-item:hover .feature-item__icon {
  transform: scale(1.2);
  transition: all 0.4s;
}
.feature-item__icon {
  font-size: 40px;
  color: #1eb1fc;
  transform: scale(1);
  transition: all 0.4s;
}
.feature-item__title {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feature .container-article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature-item {
    width: 30%;
  }
  .feature-item:after {
    display: none;
  }
}
.footer__links {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f5f5;
  text-align: center;
}
.footer__links-title {
  margin-bottom: 20px;
}
.footer__links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__links a {
  text-decoration: none;
}
.footer__text {
  margin-bottom: 20px;
}
.footer__text a {
  text-decoration: none;
}
.footer__copyright {
  fill: red;
  padding-bottom: 20px;
  text-align: center;
}
.footer__social {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f5f5;
  text-align: center;
}
.footer__social-title {
  margin-bottom: 20px;
}
.social__icon:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  fill: #1eb1fc;
}
.social__icon:hover,
.social__icon:active {
  fill: #0398e4;
  text-decoration: none;
}
.footer__payment {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f5f5;
  text-align: center;
}
.footer__payment-title {
  margin-bottom: 20px;
}
.footer__payment-icon {
  display: inline-block;
  width: 130px;
}
.footer__payment-partner img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.footer__social a,
.footer__links a,
.footer__payment a {
  color: #666;
}
.footer__social a:hover,
.footer__links a:hover,
.footer__payment a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer .container-article {
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social,
  .footer__links,
  .footer__payment {
    width: 33.33333%;
  }
}
.header {
  height: 50px;
}
.infobar {
  padding-top: 25px;
}
.infobar a {
  color: #777777;
}
.infobar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.infobar__list-item {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
  background-color: #e9f7f8;
  transition: all 0.5s;
  overflow: hidden;
  border-radius: 15px;
}
.infobar__list-item:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.infobar__list-item:last-child {
  margin-bottom: 0;
}
.infobar__list-item a {
  transition: all 0.5s;
}
.infobar__list-item a {
  display: block;
  text-decoration: none;
}
@media (min-width: 768px) {
  .infobar__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .infobar__list-item {
    margin-bottom: 0;
    width: 32%;
  }
}
.infographics {
  padding-top: 50px;
}
.infographics__title {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 35px;
  text-align: center;
}
.infographics-wrapper-first-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #f5fdf1;
}
.infographics-first-block__slider {
  width: 100%;
}
.carousel-indicators li {
  background-color: #1eb1fc;
}
.carousel-indicators .active {
  background-color: #0398e4;
}
.infographics__slider-one img {
  opacity: 0.9;
  transition: all 0.5s;
}
.infographics__slider-one:hover img {
  opacity: 1;
  transition: all 0.5s;
}
.infographics__slider-two img {
  opacity: 0.85;
  transition: all 0.5s;
}
.infographics__slider-two:hover img {
  opacity: 1;
  transition: all 0.5s;
}
.infographics__slider-three img {
  opacity: 0.85;
  transition: all 0.5s;
}
.infographics__slider-three:hover img {
  opacity: 1;
  transition: all 0.5s;
}
.infographics-first-block__content {
  width: 100%;
}
.question-content-one__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.question-content-one__title svg {
  margin-right: 15px;
  fill: #1eb1fc;
}
.infographics-first-block__question-list-one {
  font-size: 18px;
}
.infographics-first-block__question-list-one li {
  margin-bottom: 10px;
}
.question-content-two__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.question-content-two__title svg {
  margin-right: 15px;
  fill: #1eb1fc;
}
.infographics-first-block__question-list-two {
  font-size: 18px;
}
.infographics-first-block__question-list-two li {
  margin-bottom: 10px;
}
.question-content-three__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.question-content-three__title svg {
  margin-right: 15px;
  fill: #1eb1fc;
}
.infographics-first-block__question-list-three {
  font-size: 18px;
}
.infographics-first-block__question-list-three li {
  margin-bottom: 10px;
}
.infographics-wrapper-second-block {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.infographics-second-block__title {
  text-align: center;
}
@media (min-width: 850px) {
  .question-content-one__title {
    text-align: left;
  }
  .question-content-two__title {
    text-align: left;
  }
  .question-content-three__title {
    text-align: left;
  }
  .infographics-first-block__slider {
    width: 45%;
  }
  .infographics-first-block__content {
    width: 40%;
  }
}
.introduction {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 90vh;
  max-height: 1000px;
  background-color: #e9f7f8;
}
.introduction__title {
  max-width: 415px;
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
}
.introduction__aquel-title {
  margin-bottom: 70px;
  font-size: 80px;
  color: #1eb1fc;
}
.introduction__img {
  max-width: 100%;
}
.introduction--tehnology {
  height: 50vh;
  text-align: center;
}
.introduction--tehnology .introduction__title {
  width: 315px;
  margin-bottom: 10%;
}
.introduction--tehnology .introduction__aquel-title {
  display: block;
  margin-bottom: 30px;
}
.introduction__reading-time {
  margin-bottom: 20px;
}
.reading-time {
  color: #999;
}
.introduction--about-us {
  height: 50vh;
  text-align: center;
}
.introduction--about-us .introduction__aquel-title svg {
  fill: #1eb1fc;
}
.introduction--payment-and-shipping {
  height: 50vh;
  text-align: center;
}
.introduction--payment-and-shipping .introduction__title {
  margin-bottom: 20px;
}
.introduction--payment-and-shipping .introduction__aquel-title svg {
  margin-top: 10px;
  fill: #1eb1fc;
}
.introduction__content .introduction__content--payment-and-shipping {
  text-align: center;
}
.introduction--privacy-police {
  height: 50vh;
  text-align: center;
}
.introduction--privacy-police .introduction__title {
  margin-bottom: 20px;
  font-size: 30px;
}
.introduction--privacy-police .introduction__aquel-title svg {
  fill: #1eb1fc;
}
.introduction--warranty-and-service {
  height: 50vh;
  text-align: center;
}
.introduction--warranty-and-service .introduction__title {
  margin-bottom: 20px;
  font-size: 30px;
}
.introduction--warranty-and-service .introduction__aquel-title svg {
  fill: #1eb1fc;
}
.introduction--blog {
  height: 50vh;
}
.introduction--blog .introduction__title {
  margin-bottom: 20px;
}
.introduction--blog .introduction__aquel-title svg {
  margin-bottom: 20px;
  fill: #1eb1fc;
}
.introduction--blog-single {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.introduction--blog-single .introduction__title {
  margin-bottom: 30px;
}
.introduction--acquired {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.introduction--acquired .introduction__aquel-title svg {
  fill: #1eb1fc;
}
@media (min-width: 768px) {
  .introduction--about-us .introduction__aquel-title svg {
    width: 120px;
    height: auto;
  }
  .introduction--privacy-police .introduction__title {
    font-size: 40px;
  }
}
.navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border: none;
}
.navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #1eb1fc;
}
.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
  max-width: 1600px;
}
.navbar-default .navbar-brand {
  font-size: 26px;
  color: #1eb1fc;
}
.navbar-default .navbar-brand:hover {
  color: #0398e4;
}
.navbar-default .navbar-nav > li:hover {
  border-bottom: 1px solid #1eb1fc;
}
.navbar-default .navbar-nav a {
  font-size: 16px;
}
.payment-and-shipping .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}
.payment-and-shipping-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #fff1de;
  box-sizing: border-box;
  transition: all 0.5s;
}
.payment-and-shipping-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.payment-and-shipping__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.payment-and-shipping__content {
  font-size: 16px;
}
@media (min-width: 768px) {
  .payment-and-shipping .container-article {
    width: 80%;
  }
}
.privacy-police .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}
.privacy-police-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #fff1de;
  box-sizing: border-box;
  transition: all 0.5s;
}
.privacy-police-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.privacy-police__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.privacy-police__content {
  font-size: 16px;
}
@media (min-width: 768px) {
  .privacy-police .container-article {
    width: 80%;
  }
}
.promo-video {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.promo__video-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.promo__video {
  text-align: center;
  width: 90%;
}
@media (min-width: 768px) {
  .promo__video {
    width: 75%;
  }
}
.shop-showcase {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.shop-showcase a {
  text-decoration: none;
}
.shop-showcase .container-article {
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #e9f7f8;
  transition: all 0.5s;
}
.shop-showcase .container-article .shop-showcase__thumb {
  transform: scale(1);
  transition: all 0.5s;
}
.shop-showcase .container-article:hover .shop-showcase__thumb {
  transform: scale(1.1);
  transition: all 0.5s;
}
.shop-showcase .container-article:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.shop-showcase .container-article:hover .shop-showcase__price {
  color: #1eb1fc;
}
.shop-showcase__desc {
  padding-left: 10px;
  padding-right: 10px;
}
.shop-showcase__price {
  color: #999;
}
.shop-showcase__thumb {
  margin: 0 auto;
  max-width: 400px;
}
@media (min-width: 768px) {
  .shop-showcase {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
  }
  .shop-showcase .container-article {
    width: 48%;
  }
  .shop-showcase .container-article a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .shop-showcase__desc {
    width: 35%;
  }
  .shop-showcase__thumb {
    width: 55%;
  }
}
.showcase {
  text-align: center;
}
.showcase__title {
  margin-bottom: 20px;
  text-align: center;
}
.showcase__sub-title {
  margin-bottom: 25px;
  text-align: center;
  color: #999;
}
.showcase__item-thumbnail {
  background-color: #f0f8ff;
}
.showcase__item-thumbnail img {
  display: block;
  width: 100%;
}
.showcase__item-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.showcase__item-price {
  display: block;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .showcase .container-article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .showcase__title {
    width: 100%;
  }
  .showcase__sub-title {
    width: 100%;
  }
  .showcase__item-one,
  .showcase__item-two,
  .showcase__item-three {
    width: 30%;
  }
}
/* Section product

<div class="showcase">

  <div class="container-article">

    <h2 class="showcase__title">Фильтрующие системы</h2>
    <p class="showcase__sub-title">Познакомьтесь с технологиями Aquel</p>

    <div class="showcase__item-one">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-1000.png" width=""  height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel 1000</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>

    <div class="showcase__item-two">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-zero.png" width="" height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel Zero</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>

    <div class="showcase__item-three">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-200.png" width="" height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel 200</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>
  </div>
</div><!-- /.showcase --> */
.single-product {
  overflow: hidden;
}
.single-product .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e9f7f8;
}
.single-product__title {
  text-align: center;
}
.single-product__sub-title {
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
}
.single-product__price {
  color: #1eb1fc;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.single-product__content {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.single-product__pre-order-content {
  margin-bottom: 20px;
  text-align: center;
}
.single-product__button-wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .single-product .container-article {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .single-product__content-block {
    width: 45%;
  }
  .single-product__img-block {
    width: 45%;
    height: auto;
  }
  .single-product__button-wrapper {
    width: 100%;
  }
  .single-product__sub-title {
    font-size: 60px;
  }
}
.tab-pane p {
  margin-top: 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #f5fdf1;
}
.tehnology-review .container-article {
  width: 90%;
}
.tehnology-review-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  background-color: #fff1de;
  box-sizing: border-box;
  transition: all 0.5s;
}
.tehnology-review-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.tehnology-review__content {
  margin-bottom: 20px;
  /* text-indent: 10px; */
  text-align: justify;
  font-size: 18px;
}
.tehnology-review blockquote {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: 1px solid #1eb1fc;
  border-color: #1eb1fc;
  background-color: #f0f8ff;
  font-weight: bold;
  font-style: italic;
}
.tehnology-review h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.tehnology-review__list {
  font-size: 18px;
  color: #606060;
}
.tehnology-review__list li {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}
.tehnology-review__list {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .tehnology-review .container-article {
    width: 75%;
  }
}
.warranty-and-service .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}
.warranty-and-service-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #fff1de;
}
.warranty-and-service-card:hover {
  transition: all 0.5s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.warranty-and-service__title {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .warranty-and-service .container-article {
    width: 80%;
  }
}
.welcome-to-shop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 90vh;
  max-height: 1000px;
  margin: 0 auto;
  background-color: #f5fdf1;
}
.welcome-to-shop__title {
  font-size: 45px;
  text-align: center;
}
.welcome-to-shop__subtitle {
  font-size: 20px;
  margin-bottom: 50px;
}
