.advice {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f5f5f5;
}
.advice__title {
  text-align: center;
}
.advice__content {
  text-align: center;
}
@media (min-width: 768px) {
  .advice {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: baseline;
        align-items: baseline;
  }
  .advice .button-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.animation-fadeIn {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hover:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pulse {
  animation: pulse_9880 15s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes pulse_9880 {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}
/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
} */
body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", Arial, sans-serif; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #606060;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
label {
  font-weight: normal;
}
/* * {
  outline: 1px solid black;
}
 */
.blog-preview__title {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .blog-preview {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-preview__title {
    width: 100%;
  }
  .blog-preview__item {
    width: 30%;
  }
}
.button-wrapper {
  margin: 0 auto;
  text-align: center;
}
.btn--introduction {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  background-color: transparent;
  color: #77cde3;
  border-color: #77cde3;
  border-radius: 24px;
}
.btn--introduction:hover {
  color: #fff;
  background-color: #77cde3;
  border-color: #77cde3;
}
.btn--introduction:focus {
  color: #fff;
  background-color: #77cde3;
  border-color: #77cde3;
}
.btn--introduction:active {
  color: #fff !important;
}
.btn--form {
  margin-top: 15px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  background-color: transparent;
  color: #77cde3;
  border-color: #77cde3;
  border-radius: 24px;
}
.btn--form:hover {
  color: #fff;
  background-color: #77cde3;
  border-color: #77cde3;
}
.btn--form:focus {
  color: #fff;
  background-color: #77cde3;
  border-color: #77cde3;
}
.btn--form:active {
  color: #fff !important;
}
.btn--buy {
  margin-top: 15px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  background-color: transparent;
  color: #77cde3;
  border-color: #77cde3;
  border-radius: 24px;
}
.btn--buy:hover {
  color: #fff;
  background-color: #77cde3;
  border-color: #77cde3;
}
.btn--buy:focus {
  color: #fff;
  background-color: #77cde3;
  border-color: #77cde3;
}
.btn--buy:active {
  color: #fff !important;
}
.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: box-shadow 0.25s;
  border-radius: 2px;
}
.card-title {
  font-size: 24px;
  font-weight: 300;
}
.card-image {
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-image img {
  display: block;
  margin-bottom: 20px;
  border-radius: 2px 2px 0 0;
  width: 100%;
}
.card-content {
  margin-bottom: 20px;
  border-radius: 0 0 2px 2px;
}
.card-action {
  margin-bottom: 20px;
}
.card-action a {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  border: 1px solid;
  border-radius: 24px;
  color: #77cde3;
  text-decoration: none;
}
.card-action a:hover {
  color: #fff;
  background-color: #77cde3;
}
.card-action a:active {
  background-color: #ccc;
}
.main-container {
  min-width: 320px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.container-article {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.divider-main {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.promo-video {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}
.promo-video__title {
  margin-bottom: 20px;
  text-align: center;
}
.promo__video {
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .promo__video {
    width: 80%;
  }
}
.showcase {
  text-align: center;
}
.showcase__title {
  margin-bottom: 20px;
  text-align: center;
}
.showcase__sub-title {
  margin-bottom: 25px;
  text-align: center;
  color: #999;
}
.showcase__item-thumbnail {
  background-color: aliceblue;
}
.showcase__item-thumbnail img {
  display: block;
  width: 100%;
}
.showcase__item-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.showcase__item-price {
  display: block;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .showcase .container-article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .showcase__title {
    width: 100%;
  }
  .showcase__sub-title {
    width: 100%;
  }
  .showcase__item-one,
  .showcase__item-two,
  .showcase__item-three {
    width: 30%;
  }
}
.header {
  height: 50px;
}
.infographics {
  text-align: center;
}
.infographics__item-title {
  margin-bottom: 20px;
}
.infographics__item-content {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.infographics__item-content li {
  margin-bottom: 10px;
}
.infographics__item-content li:last-child {
  margin-bottom: 0;
}
.infographics__item-one {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infographics__item-two {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infographics__item-three {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infographics__item-icon {
  font-size: 50px;
}
@media (min-width: 768px) {
  .infographics {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.introduction {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70vh;
  background-color: #f5f5f5;
}
.introduction__title {
  max-width: 415px;
  text-align: center;
}
.navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border: none;
}
.navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}
.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
  max-width: 1200px;
}
.navbar-brand {
  font-size: 26px;
}
.footer__links {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
  text-align: center;
}
.footer__links-title {
  margin-bottom: 20px;
}
.footer__links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__links a {
  text-decoration: none;
}
.footer__text {
  margin-bottom: 20px;
}
.footer__text a {
  text-decoration: none;
}
.footer__copyright {
  fill: red;
  padding-bottom: 20px;
  text-align: center;
}
.footer__social {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.footer__social-title {
  margin-bottom: 20px;
}
.social__icon:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  fill: #77cde3;
}
.social__icon:hover,
.social__icon:active {
  fill: #36b8d9;
  text-decoration: none;
}
.footer__payment {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.footer__payment-title {
  margin-bottom: 20px;
}
.footer__payment-icon {
  fill: #2071e6;
}
.footer__payment-icon span:first-child {
  margin-right: 20px;
}
.footer__payment-partner img {
  width: 200px;
  height: auto;
}
@media (min-width: 768px) {
  .footer .container-article {
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social,
  .footer__links,
  .footer__payment {
    width: 33.33333%;
  }
}
