.about {
  padding-top: 20px;
}
.about .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
}
.about__card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 90%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff1de;
  box-sizing: border-box;
  text-align: center;
}
.about__card:nth-of-type(5) {
  text-align: left;
}
.about__title {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.about__content {
  font-size: 16px;
}
.about__contact {
  padding-left: 0;
  list-style: none;
}
.about__details {
  padding-left: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .about__card {
    width: 45%;
  }
  .about__card:first-child {
    width: 95%;
  }
}
.advantages {
  padding-top: 20px;
  padding-bottom: 20px;
}
.advantages .container-article {
  width: 85%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f5fdf1;
}
.nav-tabs {
  border-color: #1eb1fc;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: #1eb1fc;
  border-bottom-color: transparent;
  color: #1eb1fc;
}
.nav-tabs > li > a {
  color: #666;
}
.nav-tabs > li > a:active {
  color: #1eb1fc;
}
@media (min-width: 768px) {
  .advantages .container-article {
    width: 70%;
  }
}
.advice {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: #fceffc;
}
.advice .container-article {
  margin: 0;
}
.advice__title {
  text-align: center;
}
.advice__content {
  color: #999;
  text-align: center;
}
.label-first,
.label-two {
  display: none;
}
.form-control {
  display: block;
  height: 45px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  padding-left: 10px;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #77cde3;
  background-color: transparent;
  box-shadow: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
@media (min-width: 768px) {
  .advice {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advice .container-article {
    width: 35%;
  }
  .advice .button-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.animation-fadeIn {
  animation: fadeIn 6s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-pulse {
  animation: pulse 15s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}
.animation-rotation {
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate 0deg;
  }
  100% {
    transform: rotate 360deg;
  }
}
.hover:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Required */
.block-hidden {
  opacity: 0;
}
.block-visible {
  opacity: 1;
}
.block-shadows {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.fadein-post {
  /* post checker */
}
.blog-preview__title {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .blog-preview {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-preview__title {
    width: 100%;
  }
  .blog-preview__item {
    width: 30%;
  }
}
/*  Section blog

<div class="blog-preview">

          <h2 class="blog-preview__title">Блог</h2>

          <div class="blog-preview__item">
            <div class="card hover">
              <div class="card-image">
                <img src="https://placehold.it/260x200">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>

          <div class="blog-preview__item">

            <div class="card hover">
              <div class="card-image">
                <img src="https://placehold.it/260x200">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>

          </div>

          <div class="blog-preview__item">

            <div class="card hover">
              <div class="card-image">
                <img src="https://placehold.it/260x200">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>

          </div>

        </div><!-- /.blog-preview --> */
/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
} */
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  line-height: 30px;
  overflow-x: hidden;
  font-size: 16px;
  /* font-family: "Roboto", Arial, sans-serif; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #606060;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
}
p,
li {
  color: #777777;
}
input {
  caret-color: #77cde3;
}
label {
  font-weight: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: #1eb1fc;
}
a:hover {
  color: #0398e4;
  text-decoration: none;
}
a:active {
  color: #50c2fd;
}
.active-nav {
  border-bottom: 1px solid #1eb1fc;
}
/* * {
  outline: 1px solid black;
}
 */
.button-wrapper {
  margin: 0 auto;
  text-align: center;
}
.btn--welcome-to-shop {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 200px;
  background-color: transparent;
  color: #1eb1fc;
  border-color: #1eb1fc;
  border-radius: 15px;
  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn--welcome-to-shop:hover {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
  transition: all 0.8s;
}
.btn--welcome-to-shop:focus {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--welcome-to-shop:active {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--welcome-to-shop:active:hover {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--form {
  margin-top: 15px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 200px;
  background-color: transparent;
  color: #1eb1fc;
  border-color: #1eb1fc;
  border-radius: 15px;
  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn--form:hover {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
  transition: all 0.8s;
}
.btn--form:focus {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--form:active {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--form:active:hover {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--buy {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 200px;
  background-color: transparent;
  color: #1eb1fc;
  border-color: #1eb1fc;
  border-radius: 15px;
  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn--buy:hover {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
  transition: all 0.8s;
}
.btn--buy:focus {
  color: #fff;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--buy:active {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.btn--buy:active:hover {
  color: #fff !important;
  background-color: #1eb1fc;
  border-color: #1eb1fc;
}
.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-title {
  font-size: 24px;
  font-weight: 300;
}
.card-image {
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-image img {
  display: block;
  margin-bottom: 20px;
  border-radius: 2px 2px 0 0;
  width: 100%;
}
.card-content {
  margin-bottom: 20px;
  border-radius: 0 0 2px 2px;
}
.card-action {
  margin-bottom: 20px;
}
.card-action a {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  border: 1px solid;
  border-radius: 24px;
  color: #77cde3;
  text-decoration: none;
}
.card-action a:hover {
  color: #fff;
  background-color: #77cde3;
}
.card-action a:active {
  background-color: #ccc;
}
.card blockquote {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: 1px solid #1eb1fc;
  border-color: #1eb1fc;
  background-color: #f0f8ff;
  font-weight: bold;
}
.main-container {
  min-width: 320px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.container-article {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.content-navigation {
  padding: 15px;
  text-align: left;
}
.content-navigation__list {
  padding-left: 15px;
}
.content-navigation__list a {
  font-size: 16px;
  text-decoration: none;
}
.divider-main {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
.divider-main--card {
  margin-bottom: 20px;
}
.divider-main--about {
  margin-top: 20px;
}
.feature .container-article {
  padding-bottom: 0;
}
.feature-item {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
}
.feature-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
.feature-item:last-child:after {
  display: none;
}
.feature-item:hover .feature-item__icon {
  transform: scale(1.2);
  transition: all 0.4s;
}
.feature-item__icon {
  font-size: 40px;
  color: #1eb1fc;
  transform: scale(1);
  transition: all 0.4s;
}
.feature-item__title {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feature .container-article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature-item {
    width: 30%;
  }
  .feature-item:after {
    display: none;
  }
}
.footer__links {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
  text-align: center;
}
.footer__links-title {
  margin-bottom: 20px;
}
.footer__links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__links a {
  text-decoration: none;
}
.footer__text {
  margin-bottom: 20px;
}
.footer__text a {
  text-decoration: none;
}
.footer__copyright {
  fill: red;
  padding-bottom: 20px;
  text-align: center;
}
.footer__social {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.footer__social-title {
  margin-bottom: 20px;
}
.social__icon:not(:last-child) {
  margin-right: 10px;
}
.social__icon {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  fill: #1eb1fc;
}
.social__icon:hover,
.social__icon:active {
  fill: #0398e4;
  text-decoration: none;
}
.footer__payment {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.footer__payment-title {
  margin-bottom: 20px;
}
.footer__payment-icon {
  fill: #2071e6;
}
.footer__payment-icon span:first-child {
  margin-right: 20px;
}
.footer__payment-partner img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
.footer__social a,
.footer__links a,
.footer__payment a {
  color: #666;
}
.footer__social a:hover,
.footer__links a:hover,
.footer__payment a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer .container-article {
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social,
  .footer__links,
  .footer__payment {
    width: 33.33333%;
  }
}
.header {
  height: 50px;
}
.infobar {
  padding-top: 25px;
}
.infobar a {
  color: #777777;
}
.infobar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.infobar__list-item {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 16px;
  background-color: #f5f5f5;
  transition: all 0.5s;
  overflow: hidden;
}
.infobar__list-item:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.infobar__list-item:last-child {
  margin-bottom: 0;
}
.infobar__list-item:hover {
  font-size: 18px;
  transition: all 0.5s;
}
.infobar__list-item a {
  display: block;
  text-decoration: none;
}
@media (min-width: 768px) {
  .infobar__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .infobar__list-item {
    margin-bottom: 0;
    width: 32%;
  }
}
.infographics {
  text-align: center;
}
.infographics__item-title {
  margin-bottom: 20px;
}
.infographics__item-content {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.infographics__item-content li {
  margin-bottom: 10px;
}
.infographics__item-content li:last-child {
  margin-bottom: 0;
}
.infographics__item-one {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infographics__item-two {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infographics__item-three {
  padding-top: 10px;
  padding-bottom: 10px;
}
.infographics__item-icon {
  font-size: 50px;
  color: #1eb1fc;
}
@media (min-width: 768px) {
  .infographics {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.introduction {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 90vh;
  max-height: 1000px;
  background-color: #e9f7f8;
}
.introduction__title {
  max-width: 415px;
  margin-bottom: 8%;
  text-align: center;
}
.introduction__aquel-title {
  font-size: 80px;
  color: #1eb1fc;
}
.introduction__img {
  max-width: 100%;
}
.introduction--tehnology {
  height: 50vh;
  text-align: center;
}
.introduction--tehnology .introduction__title {
  width: 315px;
  margin-bottom: 10%;
}
.introduction--tehnology .introduction__aquel-title {
  display: block;
  margin-bottom: 25px;
}
.reading-time {
  color: #999;
}
.introduction--about-us {
  height: 50vh;
  text-align: center;
}
.introduction--about-us .introduction__aquel-title svg {
  fill: #1eb1fc;
}
@media (min-width: 768px) {
  .introduction--about-us .introduction__aquel-title svg {
    width: 120px;
    height: auto;
  }
}
.navbar-default {
  margin-bottom: 0;
  background-color: #fff;
  border: none;
}
.navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #1eb1fc;
}
.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
  max-width: 1600px;
}
.navbar-default .navbar-brand {
  font-size: 26px;
  color: #1eb1fc;
}
.navbar-default .navbar-brand:hover {
  color: #0398e4;
}
.navbar-default .navbar-nav > li:hover {
  border-bottom: 1px solid #1eb1fc;
}
.navbar-default .navbar-nav a {
  font-size: 16px;
}
.promo-video {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.promo-video__title {
  margin-bottom: 20px;
  text-align: center;
}
.promo__video {
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  .promo__video {
    width: 80%;
  }
}
.shop-showcase {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.shop-showcase a {
  text-decoration: none;
}
.shop-showcase .container-article {
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #e9f7f8;
  transition: all 0.5s;
}
.shop-showcase .container-article .shop-showcase__thumb {
  transform: scale(1);
  transition: all 0.5s;
}
.shop-showcase .container-article:hover .shop-showcase__thumb {
  transform: scale(1.1);
  transition: all 0.5s;
}
.shop-showcase .container-article:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}
.shop-showcase__desc {
  padding-left: 10px;
  padding-right: 10px;
}
.shop-showcase__price {
  color: #999;
}
.shop-showcase__thumb {
  margin: 0 auto;
  max-width: 400px;
}
@media (min-width: 768px) {
  .shop-showcase {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
  }
  .shop-showcase .container-article {
    width: 48%;
  }
  .shop-showcase .container-article a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .shop-showcase__desc {
    width: 35%;
  }
  .shop-showcase__thumb {
    width: 55%;
  }
}
.showcase {
  text-align: center;
}
.showcase__title {
  margin-bottom: 20px;
  text-align: center;
}
.showcase__sub-title {
  margin-bottom: 25px;
  text-align: center;
  color: #999;
}
.showcase__item-thumbnail {
  background-color: #f0f8ff;
}
.showcase__item-thumbnail img {
  display: block;
  width: 100%;
}
.showcase__item-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.showcase__item-price {
  display: block;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .showcase .container-article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .showcase__title {
    width: 100%;
  }
  .showcase__sub-title {
    width: 100%;
  }
  .showcase__item-one,
  .showcase__item-two,
  .showcase__item-three {
    width: 30%;
  }
}
/* Section product

<div class="showcase">

  <div class="container-article">

    <h2 class="showcase__title">Фильтрующие системы</h2>
    <p class="showcase__sub-title">Познакомьтесь с технологиями Aquel</p>

    <div class="showcase__item-one">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-1000.png" width=""  height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel 1000</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>

    <div class="showcase__item-two">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-zero.png" width="" height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel Zero</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>

    <div class="showcase__item-three">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-200.png" width="" height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel 200</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>
  </div>
</div><!-- /.showcase --> */
.single-product {
  overflow: hidden;
}
.single-product .container-article {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e9f7f8;
}
.single-product__title {
  text-align: center;
}
.single-product__sub-title {
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
}
.single-product__content {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.single-product__button-wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .single-product .container-article {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .single-product__content-block {
    width: 45%;
  }
  .single-product__img-block {
    width: 45%;
    height: auto;
  }
  .single-product__button-wrapper {
    width: 100%;
  }
  .single-product__sub-title {
    font-size: 60px;
  }
}
.tab-pane p {
  margin-top: 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #f5fdf1;
}
.tehnology-review .container-article {
  width: 85%;
}
.tehnology-review__content {
  margin-bottom: 20px;
  /* text-indent: 10px; */
  text-align: justify;
  font-size: 18px;
}
.tehnology-review blockquote {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: 1px solid #1eb1fc;
  border-color: #1eb1fc;
  background-color: #f0f8ff;
  font-weight: bold;
  font-style: italic;
}
.tehnology-review h3 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.tehnology-review__list {
  font-size: 18px;
  color: #606060;
}
.tehnology-review__list li {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}
.tehnology-review__list {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .tehnology-review .container-article {
    width: 70%;
  }
}
.welcome-to-shop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 90vh;
  max-height: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5fdf1;
}
.welcome-to-shop__title {
  font-size: 40px;
  text-align: center;
}
.welcome-to-shop__subtitle {
  font-size: 20px;
  margin-bottom: 7%;
}
