.advantages {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #f7f7f7;
}

.advantages .container-article {
  max-width: 1080px;

  padding: 20px;
  padding-left: 50px;

  border-radius: 2px;
  box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

  background-color: #fff;
}

.product__description,
.product__feature,
.product__advantages,
.product__delivery {
  position: relative;
  font-size: 22px;
  font-weight: 600;
}

.product__description::before,
.product__feature::before,
.product__advantages::before,
.product__delivery::before {
  position: absolute;
  content: " ";
  display: block;

  width: 3px;
  height: 100%;

  left: -20px;

  background-color: @main-color;
}

.product__content {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  color: #333;
}

.product__conten-list {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.product__conten-list li {
  font-size: 18px;
  color: @main-color;
}

.product__conten-list span {
  font-size: 16px;
  color: #333;
}

.nav-tabs {
  border-color: @style-color;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-color: @style-color;
  border-bottom-color: transparent;

  color: @style-color;
}


.nav-tabs > li > a {
  color: #666;

  &:hover {
    color: @style-color-darken;
    border-color: transparent;
    background-color: transparent;
  }

  &:active {
    color: @style-color;
  }
}

.advantages .tab-content li {
  margin-bottom: 5px;
}

.advantages__delivery-content {
  font-size: 16px;
  color: #333;
}

@media (min-width: 768px) {

}
