 .animation-fadeIn {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animation-pulse {
  animation: pulse 15s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes pulse {
  0% {transform: scale(1.1)}
  25% {transform: scale(0.8)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1.1)}
}

.animation-rotation {
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {transform: rotate (0deg);}
  100% {transform: rotate (360deg);}
}

.hover:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Required */

.block-hidden{
     opacity:0;
}
.block-visible{
     opacity:1;
}

.block-shadows {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.fadein-post {
  /* post checker */
}

