.brand-aquel {
  background-color: #f7f7f7;
}

.brand-aquel .container-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;

  background-color: #fff;

  border: 2px solid @main-color;
  border-bottom: none;
}

.brand-aquel__card--list {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  transition: all 0.5s;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 4px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 1px 0px 10px 0px rgba(0,163,236,1);
    transition: all 0.5s;
  }
}

.brand-aquel__card {
  width: 100%;
  margin-bottom: 30px;
}

.brand-aquel__title {
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  font-weight: 600;
  text-align: center;

  color: #fff;
  background-color: @main-color;
}

.brand-aquel__sub-title {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.brand-aquel__sub-title--bg {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;

  color: #fff;
  background-color: @main-color;
}

.brand-aquel__title--full {
  width: 100%;
  margin-bottom: 30px;

  padding-top: 15px;
  padding-bottom: 15px;

  color: #fff;
  background-color: @main-color;
}

.brand-aquel__content {
  padding-left: 20px;
  padding-right: 20px;

  font-size: 16px;
}

.brand-aquel__list {
  padding-left: 0;
  list-style: none;

  text-align: center;
}

.brand-aquel__year {
  font-weight: 600;
}

@media (min-width: 880px) {

  .brand-aquel .container-article {
    max-width: 1100px;
  }

  .brand-aquel__card {
    width: 45%;
  }

  .brand-aquel__card--person {
    width: 40%;
  }

  .brand-aquel__card--intro {
    width: 50%;
  }

  .brand-aquel__card--achievements {
    width: 95%;
    background-color: #fff;
  }
}
