.button-wrapper {
  margin: 0 auto;
  text-align: center;
}

.btn--callback {
  padding-top: 10px;
  padding-bottom: 10px;

  width: 235px;

  background-color: @main-color;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: lighten(@main-color, 10%);
    border-color: @main-color;
    transition: all 0.8s;
  }
}

.btn--welcome-to-shop {
  margin-top: 50px;

  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;

  width: 300px;

  background-color: transparent;
  color: @text-color;
  border-width: 2px;
  border-color: @main-color;
  border-radius: 6px;
  transition: all 0.8s;

  font-weight: 600;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @main-color;
    border-color: @main-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.btn--introduction-about {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;

  width: 150px;

  background-color: #fff;
  color: @text-color;
  border-width: 2px;
  border-color: @main-color;
  border-radius: 6px;
  transition: all 0.8s;

  font-weight: 600;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @main-color;
    border-color: @main-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.introduction__lead .btn--introduction-about {
  color: @main-color;
}

.introduction__lead .btn--introduction-about:hover {
  color: #fff;
}

.btn--product {
  width: 100%;
  margin-top: 20px;
  padding: 15px;

  border-color: @main-color;
  color: @main-color;

  font-size: 16px;
  font-weight: 600;

  transition: all 0.8s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @main-color;
    border-color: @main-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @main-color;
    border-color: @main-color;
  }

  &:active {
    color: #fff !important;
    background-color: @main-color;
    border-color: @main-color;
  }

  &:active:hover {
    color: #fff !important;
    background-color: @main-color;
    border-color: @main-color;
  }
}

.btn--form {
  margin-top: 15px;

  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  width: 200px;

  background-color: transparent;
  color: @style-color;
  border-color: @style-color;
  border-radius: 15px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

    &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.btn--buy {
  margin-bottom: 20px;

  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  width: 200px;

  background-color: transparent;
  color: @style-color;
  border-color: @style-color;
  border-radius: 15px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

    &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.btn-review {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;

  width: 350px;

  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-width: 2px;
  border-radius: 6px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: @main-color;
    background-color: #fff;
    border-color: @main-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.btn-footer__form {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;

  width: 300px;

  background-color: @main-color;
  color: #fff;
  border-color: @main-color;
  border-width: 2px;
  border-radius: 6px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: lighten(@main-color, 10%);
    border-color: @main-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

@media (min-width: 768px) {

  .btn--introduction-about {
    width: 250px;
  }
}
