.button-wrapper {
  margin: 0 auto;
  text-align: center;
}

.btn--welcome-to-shop {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  width: 200px;

  background-color: transparent;
  color: @style-color;
  border-color: @style-color;
  border-radius: 15px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.btn--form {
  margin-top: 15px;

  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  width: 200px;

  background-color: transparent;
  color: @style-color;
  border-color: @style-color;
  border-radius: 15px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

    &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.btn--buy {
  margin-top: 15px;

  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  width: 200px;

  background-color: transparent;
  color: @style-color;
  border-color: @style-color;
  border-radius: 15px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

    &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

@media (min-width: 768px) {

  .button-wrapper {
    margin: 0;
    width: 40%;
  }
}
