.card-block .divider-main--card {
  margin: 0 auto;
  width: 70%;
}

.card-block__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #fff;
  background-color: @main-color;
  text-align: center;
}

.card-block .container-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 90%;
}

.card {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;

  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover img {
    transform: scale(1.1);
  }
}

.card img {
  transition: all 1s;
}

.card__title {
  font-size: 24px;
  font-weight: 300;

  text-align: center;
}

.card__img {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card__img img {
  display: block;
  border-radius: 2px 2px 0 0;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  text-align: center;
}

.card__title {
  color: @main-color;
  font-weight: 600;
}

.card__subtitle {
  font-weight: 600;
}

.card__button {
  display: inline-block;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

  font-weight: 600;

  border-radius: 4px;
  box-shadow: 1px 0px 10px 0px #00a3ec;

  transition: all 0.8s;

  &:hover {
    color: #fff;
    background-color: @main-color;

    box-shadow: none;

    transition: all 0.8s;
  }
}

.card__action {
  margin-bottom: 20px;
  text-align: center;
}

.card__action a {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;

  width: 200px;

  background-color: transparent;
  color: @style-color;
  border: 1px solid;
  border-color: @style-color;
  border-radius: 15px;
  transition: all 0.8s;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
    transition: all 0.8s;
  }

  &:focus {
    color: #fff;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }

  &:active:hover {
    color: #fff !important;
    background-color: @style-color;
    border-color: @style-color;
  }
}

.card blockquote {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  outline: 1px solid @style-color;

  border-color: @style-color;
  background-color: #f0f8ff;
  font-weight: bold;
}

@media (min-width: 900px) {

  .card-block .container-article {
    width: 85%;
  }

  .card {
    width: 45%;
  }
}
