.contract-offer {

}

.contract-offer .container-article {
  width: 90%;
}

.contract-offer__card {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  border-radius: 2px;
  background-color: @bg-color-carrots;

  box-sizing: border-box;

  transition: all 0.5s;

  &:hover {
    box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: all 0.5s;
  }
}

.contract-offer__title {
  text-align: center;
}

.contract-offer__sub-title {
  font-size: 20px;
  text-align: left;
}

.contract-offer__content {

}

.contract-offer__list {
  list-style: none;
}

.contract-offer__list li {
  margin-bottom: 10px;
}

@media (min-width: 768px) {

  .contract-offer .container-article {
    width: 80%;
  }
}
