.footer {

}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-bottom: 4px solid @main-color;
}

.footer__map {
  width: 50%;
}

.footer__map img {

}

.footer__form-contact-wrapper {
  width: 50%;

  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.footer__form {
  position: relative;

  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__form::after {
  content: " ";
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  bottom: 0;

  background-color: @main-color;
}

.footer__form-title {
  font-size: 16px;
  font-weight: 600;

  margin-bottom: 20px;
}

.footer__form input {
  display: block;

  width: 100%;
  max-width: 600px;
  min-width: 300px;

  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;

  border: 1px solid #e1e1e1;
  border-radius: 4px;

  background-color: #f9f9f9;
}

.footer__contact {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__contact-list {
  margin-bottom: 0;
  padding-left: 90px;

  font-weight: 600;
  list-style: none;
}

.footer__contact-list li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer__list-item-email {
  position: relative;
}

.footer__list-item-email:before {
  content: " ";
  display: block;
  position: absolute;

  width: 50px;
  height: 50px;

  top: -2px;
  left: -85px;

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  background-image: url(../img/icon/e-mail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  box-shadow: 1px 0px 10px 0px #00a3ec;
  border-radius: 50%;
}

.footer__list-item-phone {
  position: relative;
}

.footer__list-item-phone::before {
  content: " ";
  display: block;
  position: absolute;

  width: 50px;
  height: 50px;

  top: -2px;
  left: -85px;

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  background-image: url(../img/icon/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  box-shadow: 1px 0px 10px 0px #00a3ec;
  border-radius: 50%;
}

.footer__list-item-address {
  position: relative;
}

.footer__list-item-address::before {
  content: " ";
  display: block;
  position: absolute;

  width: 50px;
  height: 50px;

  top: -2px;
  left: -85px;

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  background-image: url(../img/icon/address-pick.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  box-shadow: 1px 0px 10px 0px #00a3ec;
  border-radius: 50%;
}
