.infographics {
  text-align: center;
}

.infographics__title {

}

.infographics__item-title {
  margin-bottom: 20px;
}

.infographics__item-content {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.infographics__item-content li {
  margin-bottom: 10px;
}

.infographics__item-content li:last-child {
  margin-bottom: 0;
}

.infographics__item-one {
  padding-top: 10px;
  padding-bottom: 10px;
}

.infographics__item-two {
  padding-top: 10px;
  padding-bottom: 10px;
}

.infographics__item-three {
  padding-top: 10px;
  padding-bottom: 10px;
}

.infographics__item-icon {
  font-size: 50px;
  color: #00ced1;
}

@media (min-width: 768px) {

  .infographics {
    display: flex;
    justify-content: space-around;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}
