.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh;

  background-color: #f5f5f5;
}

.introduction__title {
  max-width: 415px;
  text-align: center;
}

.aquel-title {
  font-size: 40px;
  color: #77cde3;
}

.introduction__img {

}

.introduction--tehnology {
  height: 40vh;
  text-align: center;
}

.introduction--tehnology .introduction__title {
  width: 315px;
}

.introduction--tehnology .aquel-title {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #77cde3;
}

.reading-time {
  color: #999;
}
