.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  max-height: 1000px;

  background-color: #e9f7f8;
}

.introduction__title {
  max-width: 415px;

  margin-bottom: 8%;

  text-align: center;
}

.introduction__aquel-title {
  font-size: 70px;
  color: @style-color;
}

.introduction__img {
  max-width: 100%;
}

.introduction--tehnology {
  height: 50vh;
  text-align: center;
}

.introduction--tehnology .introduction__title {
  width: 315px;
  margin-bottom: 10%;
}

.introduction--tehnology .introduction__aquel-title {
  display: block;
  margin-bottom: 25px;
}

.reading-time {
  color: #999;
}

.introduction--about-us {
  height: 50vh;
  text-align: center;
}
