.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-height: 1000px;

  padding-top: 20px;
  padding-bottom: 50px;

  background-color: #fff;
}

.introduction-wrapper-title {
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.introduction-decoration-title {
  position: relative;
  width: 20%;
}

.introduction-decoration-title::before {
  position: absolute;
  content: " ";
  display: block;

  width: 100%;
  height: 2px;

  top: 45%;

  background-color: @main-color;

}

.introduction__title-wrapper {
  width: 85%;
  max-width: 1200px;

  margin: 0 auto;
  padding: 40px;
  padding-left: 20px;
}

.introduction__title {
  margin-bottom: 5px;

  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;

  text-align: center;
}

.introduction__title img {
  display: inline;
  margin-right: -5px;
}

.introduction__aquel-title {
  font-size: 14px;
  color: #2db2ff;
}

.introduction-wrapper-about {
  display: flex;
  flex-wrap: wrap;

  width: 100%
}

.introduction-decoration-about {
  display: none;
  position: relative;
  width: 5%;
}

.introduction-decoration-about::before {
  position: absolute;
  display: block;
  content: " ";

  width: 100%;
  height: 2px;

  top: 30%;

  background-color: @main-color;
}

.introduction-decoration-about::after{
  position: absolute;
  display: block;
  content: " ";

  width: 100%;
  height: 2px;

  bottom: 30%;

  background-color: @main-color;
}

.introduction__about {
  width: 100%;

  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 40px;

  background-color: @main-color;
}

.introduction__about-title {
  position: relative;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 900;
  color: #fff;
}

.introduction__about-title::before {
  position: absolute;
  content: " ";
  width: 80px;
  height: 2px;

  bottom: -20px;

  background-color: #fff;
}

.introduction__about-content {
  font-size: 15px;
  color: #fff;
  margin-bottom: 30px;
}

.introduction__lead {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-grow: 1;

  width: 45%;

  padding-top: 100px;
  padding-bottom: 50px;

  background-image: url(../../img/slider-lead-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.introduction__lead::before {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 2px;

  top: 100px;

  background-color: @main-color;
}

.introduction__lead-title {
  max-width: 350px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 50px;
  font-weight: 900;
}

.introduction__lead-list {
  margin-bottom: 20px;
  padding-left: 50px;

  font-size: 16px;
  list-style: none;
}

.introduction__lead-list li {
  font-weight: 600;
}

.introduction__btn-wrapper {
  display: flex;
}

.introduction__lead-decoration-left {
  position: relative;
  width: 50px;
}

.introduction__lead-decoration-left::before {
  display: block;
  content: " ";
  position: absolute;

  width: 100%;
  height: 2px;

  top: 45%;

  background-color: @main-color;
}

.introduction__lead-decoration-right {
  position: relative;
  flex-grow: 1;
  width: 50%;
}

.introduction__lead-decoration-right::after {
  display: block;
  content: " ";
  position: absolute;

  width: 100%;
  height: 2px;

  top: 45%;

  background-color: @main-color;
}

.introduction__img {
  max-width: 100%;
}

.introduction--tehnology {
  height: auto;

  padding-top: 0;
  padding-bottom: 0;

  text-align: center;

  background-color: #f7f7f7;
}

.introduction--tehnology .introduction__title {
  font-size: 32px;
}

.introduction--tehnology .introduction__aquel-title {
  display: block;

  padding-top: 20px;

  font-size: 40px;
  font-weight: 900;
}

.introduction__reading-time {
  margin-bottom: 20px;
}

.reading-time {
  color: #999;
}

.introduction--about-us {
  padding-top: 30px;
  padding-bottom: 15px;

  text-align: center;
  background-color: #f7f7f7;
}

.introduction--payment-and-shipping {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  background-color: #f7f7f7;
}

.introduction--payment-and-shipping .introduction__title {
  margin-bottom: 20px;
}

.introduction__content .introduction__content--payment-and-shipping {
  text-align: center;
}

.introduction--privacy-police {
  padding-top: 30px;
  padding-bottom: 20px;

  height: auto;

  text-align: center;

  background-color: #f7f7f7;
}

.introduction--privacy-police .introduction__title {
  margin-bottom: 20px;
  font-size: 30px;
}

.introduction__content--privacy-police {

}

.introduction--warranty-and-service {
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  background-color: #f7f7f7;
}

.introduction--warranty-and-service .introduction__title {
  margin-bottom: 20px;
  font-size: 30px;
}

.introduction__content--warranty-and-service {

}

.introduction--certificate {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #f7f7f7;
}

.introduction__content--certificate {

}

.introduction--blog {
  padding-top: 30px;
  padding-bottom: 0;

  background-color: #f7f7f7;
}

.introduction--blog .introduction__title {
  margin-bottom: 20px;
}

.introduction__content--blog {
  display: block;

  width: 100%;
  max-width: 1150px;

  margin: 0 auto;
  margin-bottom: 20px;

  padding-top: 15px;
  padding-bottom: 15px;


  font-size: 16px;
  font-weight: 600;
  text-align: center;

  color: #fff;
  background-color: @main-color;
}

.introduction--blog-single {
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #f7f7f7;
}

.introduction--blog-single .introduction__title {
  display: block;
  width: 100%;
  max-width: 1000px;

  padding-top: 20px;
  padding-bottom: 20px;

  color: #fff;

  font-size: 18px;
  letter-spacing: 1px;

  text-align: center;

  background-color: @main-color;
}

.introduction__content--blog-single {

}

.introduction--blog-single .introduction__aquel-title {

}

.introduction--acquired {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: #f7f7f7;
}

.introduction--acquired .introduction__title {
  margin-bottom: 20px;
}

.introduction--acquired .introduction__aquel-title svg {
  fill: @style-color;
}

.introduction--brand-aquel {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  background-color: #f7f7f7;
}

.introduction--brand-aquel .introduction__title img {
  width: 46px;
  margin-right: -8px;
}

.introduction--contract-offer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
}

@media (min-width: 620px) {

  .introduction__about {
    width: 40%;
  }
}

@media (min-width: 680px) {

  .introduction-decoration-about {
    display: block;
  }
}

@media (min-width: 768px) {

  .introduction {

  }

  .introduction--about-us {

  }

  .introduction--tehnology {

  }

  .introduction--payment-and-shipping {

  }

  .introduction--privacy-police {

  }

  .introduction--warranty-and-service {

  }

  .introduction--blog {

  }

  .introduction--blog-single {

  }

  .introduction--acquired {

  }

  .introduction--brand-aquel {

  }

  .introduction--privacy-police .introduction__title {
    font-size: 32px;
  }

  .introduction-decoration-about {
    width: 15%;
  }
}

@media (min-width: 1000px) {

  .introduction__about {
    padding-left: 80px;
    padding-right: 50px;
  }
}
