.navbar-default {
  margin-bottom: 0;

  background-color: #fff;
  border: none;
}

.navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}

.navbar-fixed-top {
  position: fixed;

  margin: 0 auto;
  max-width: 1200px;
}

.navbar-brand {
  font-size: 26px;
}
