.navbar-default {
  margin-bottom: 0;

  background-color: #fff;
  border: none;
}

.navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: @style-color;
}

.navbar-fixed-top {
  position: fixed;

  margin: 0 auto;
  max-width: 1600px;
}

.navbar-default .navbar-brand {
  font-size: 26px;
  color: @style-color;

  &:hover {
    color: @style-color-darken;
  }
}

.navbar-default .navbar-nav > li {

  &:hover {
    border-bottom: 1px solid @style-color;
  }
}
