.privacy-police {
  background-color: #f7f7f7;
}

.privacy-police .container-article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;

  padding-top: 0;

  background-color: #fff;

  border: 2px solid @main-color;
  border-bottom: none;
}

.privacy-police-card {
  display: flex;
  flex-direction: column;

  width: 90%;
  margin-bottom: 20px;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  box-sizing: border-box;
}

.privacy-police__title {
  width: 100%;

  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  font-weight: 600;
  text-align: center;

  color: #fff;
  background-color: @main-color;
}

.privacy-police__title i {
  margin-right: 10px;
}

.privacy-police__content {
  font-size: 16px;
}

.privacy-police__details {

}

@media (min-width: 768px) {

  .privacy-police .container-article {
    width: 80%;
  }
}
