.promo-video-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.promo-video__content-wrapper {
  position: relative;
  width: 80%;
  margin-bottom: 30px;

}

.promo-video__content::before {
  display: block;
  content: " ";
  position: absolute;

  width: 150%;
  height: 2px;

  top: 75px;
  left: -50%;

  background-color: @main-color;
}

.promo-video__title {
  width: 300px;
  margin-bottom: 30px;

  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.promo-video__subtitle {
  font-weight: 600;
}


.promo-video__list li {
  padding-left: 10px;
  color: @main-color;
}

.promo-video__list span {
  color: @text-color;
}

.promo__video {
  width: 80%;

  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;

  border: 2px solid @main-color;
}

.promo__video video {
  width: 100%;
}

@media (min-width: 940px) {

  .promo-video__content-wrapper {
    width: 30%;
  }

  .promo__video {
    width: 40%;
  }
}
