.promo-video-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 30px;
}

.promo-video__content-wrapper {
  position: relative;
  width: 80%;
  margin-bottom: 30px;
}

.promo-video__content::before {
  display: block;
  content: " ";
  position: absolute;

  width: 150%;
  height: 2px;

  top: 75px;
  left: -50%;

  background-color: @main-color;
}

.promo-video__title {
  max-width: 300px;
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  text-align: center;
}

.promo-video__subtitle {
  font-weight: 600;
  text-transform: uppercase;
}


.promo-video__list li {
  padding-left: 10px;
  color: @main-color;
}

.promo-video__list {
  font-size: 15px;
}

.promo-video__list span {
  color: @text-color;
}

.promo__video {
  position: relative;
  width: 80%;

  padding: 20px;

  border: 2px solid @main-color;

  cursor: pointer;
}

.promo__video-play {
  position: absolute;

  display: block;
  width: 50px;
  height: 50px;

  top: 45%;
  left: 45%;

  background-image: url(../img/video-bg-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  z-index: 1;
}

.promo__video:hover img {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0.5s;
}

.promo__video img {
  opacity: 0.7;
  transition: all 0.5s;

  &:focus {
    border-color: transparent;
    outline: transparent;
  }
}

.promo__video a:focus {
  border-color: transparent;
  outline: transparent;
}

.promo__video video {
  width: 100%;
}

.fancybox-slide--iframe .fancybox-content {
  min-height: 150px;
  max-height: 180px;
}

@media (min-width: 450px) {

  .fancybox-slide--iframe .fancybox-content {
    min-height: 210px;
  }

  .promo-video__title {
    font-size: 18px;
    text-align: left;
  }
}

@media (min-width: 550px) {

  .fancybox-slide--iframe .fancybox-content {
    min-height: 255px;
  }
}

@media (min-width: 650px) {

  .fancybox-slide--iframe .fancybox-content {
    min-height: 301px;
  }
}

@media (min-width: 768px) {

  .fancybox-slide--iframe .fancybox-content {
    min-height: 354px;
  }
}

@media (min-width: 940px) {

  .fancybox-slide--iframe .fancybox-content {
    min-height: 415px;
  }

  .promo-video__content-wrapper {
    width: 30%;
  }

  .promo__video {
    width: 45%;
  }
}

@media (min-width: 1050px) {

  .fancybox-slide--iframe .fancybox-content {
    min-height: 485px;
  }
}
