.showcase {
  text-align: center;
}

.showcase__title {
  margin-bottom: 20px;
  text-align: center;
}

.showcase__sub-title {
  margin-bottom: 25px;
  text-align: center;
  color: #999;
}

.showcase__item-one {

}

.showcase__item-two {

}

.showcase__item-three {

}

.showcase__item-thumbnail {
  background-color: #f0f8ff;
}

.showcase__item-thumbnail img {
  display: block;
  width: 100%;
}

.showcase__item-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.showcase__item-details {

}

.showcase__item-title {

}

.showcase__item-price {
  display: block;

  margin-top: 15px;
}

@media (min-width: 768px) {

  .showcase .container-article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .showcase__title {
    width: 100%;
  }

  .showcase__sub-title {
    width: 100%;
  }

  .showcase__item-one,
  .showcase__item-two,
  .showcase__item-three {
    width: 30%;
  }

}



/* Section product

<div class="showcase">

  <div class="container-article">

    <h2 class="showcase__title">Фильтрующие системы</h2>
    <p class="showcase__sub-title">Познакомьтесь с технологиями Aquel</p>

    <div class="showcase__item-one">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-1000.png" width=""  height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel 1000</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>

    <div class="showcase__item-two">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-zero.png" width="" height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel Zero</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>

    <div class="showcase__item-three">
      <div class="showcase__item-thumbnail hover">
        <img src="img/small-aquel-200.png" width="" height="" alt="">
      </div>
      <div class="showcase__item-footer">
        <div class="showcase__item-details">
          <h3 class="showcase__item-title">Aquel 200</h>
          <span class="showcase__item-price glyphicon glyphicon-rub">44980</span>
        </div>
        <a class="btn btn-default btn--buy" href="#" role="button">КУПИТЬ</a>
      </div>
    </div>
  </div>
</div><!-- /.showcase --> */
