.welcome-to-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;

  margin: 0 auto;

  background-image: url(../img/slider-bg/slider-bg-7.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transition: all 0.5s;
}

.welcome-to-shop__title {
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

.welcome-to-shop__subtitle {
  font-size: 20px;
  text-align: center;
}

.welcome-to-shop__subtitle--success {
  width: 85%;

  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.item-200 {
  background-image: none;
}

.item-1000 {
  background-image: none;
}

.item-zero {
  background-image: none;
}

.item__title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.item__subtitle {
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {

  .welcome-to-shop {
    height: 600px;
  }

  .welcome-to-shop__subtitle--success {
    width: 60%;
  }
}

@media (min-width: 800px) {

  .item-200 {
    background-image: url(../img/item-200-bg-05.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 35%;
  }

  .item-1000 {
    background-image: url(../img/item-1000-bg-05.png);
    background-repeat: no-repeat;
    background-position: right center;;
    background-size: 35%;
  }

  .item-zero {
    background-image: url(../img/item-zero-bg-05.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 35%;
  }
}
